name: Docker Image CI

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: omega1x
        password: ${{ secrets.DOCKER_HUB_TOKEN }}
    
    - name: Build
      run: |
        docker build . --file Dockerfile --tag omega1x/center1:${{ github.ref_name }}
    
    - name: Hub Publish
      run: |
        docker push omega1x/center1:${{ github.ref_name }}
    
    - name: Release with Notes
      uses: softprops/action-gh-release@v2
      with:
        body: |
          `center1`-image *${{ github.ref_name }}* released to [DockerHuB](https://hub.docker.com/r/omega1x/center1)!
        
